[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "==1.5.1"
xgboost = "==2.1.1"
flask = "*"
requests = "*"
gunicorn = "*"
awsebcli = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.12"
